*{
    margin:0px;
    padding: 0px;
    font-family: inter;
}

nav{
    display: flex;
    justify-content: space-between;
     background-color:rgb(255, 255, 255);
    padding: 20px 40px;
align-items: center;
}
nav img{
    display: flex;
}
a{
    color: #575757;
    text-decoration: none;
    font-size: 15px;
    
}
ul{
    list-style-type:none;
    display:flex;
    gap: 20px;
}

.container{
    background-color:#2563EB;
    color:white;}
    button{
    border:none;
    padding:10px 2%;
    border-radius:8px;
    
}
/* navbar ends here */


/* Hero */
header{
    /* background-image:linear-gradient(black , black); */

    background-image:linear-gradient(rgba(10, 9, 9, 0.5)),  url('./assets/banner.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat:no-repeat;

}
header div{
    color: white;
    text-align: center;
    padding: 8% 0px;

}
header div h1{
font-size: 50px;
padding: 15px;

}
header div button{
    margin: 20% 0px;
    border:none;
    padding:15px 3%;
    border-radius:4px;
    
}