*{
    margin: 10px;
}

nav{
    display: flex;
    justify-content: space-between;
     background-color:rgb(160, 53, 53);
    

}
a{
    color: #575757;
    text-decoration: none;
    
}
ul{
    list-style-type:none;
    display:flex;
    gap: 8px;
}

button{
    background-color:#2563EB;
    color:white;
    border:none;
    padding:0% 2%;
    border-radius:8px;
    
}

