*{
    margin:0px;
    padding: 0px;
    font-family: inter;
}



nav{
    display: flex;
    justify-content: space-between;
     background-color:rgb(255, 255, 255);
    padding: 20px 40px;
align-items: center;
}
nav img{
    display: flex;
}
a{
    color: #575757;
    text-decoration: none;
    font-size: 15px;
    
}
ul{
    list-style-type:none;
    display:flex;
    gap: 20px;
}

.container{
    background-color:#2563EB;
    color:white;}
    button{
    border:none;
    padding:10px 2%;
    border-radius:8px;
    
}
/* navbar ends here */


/* Hero */
header{
    /* background-image:linear-gradient(black , black); */

    background-image:linear-gradient(rgba(10, 9, 9, 0.5)),  url('./assets/banner.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat:no-repeat;

}
header div{
    color: white;
    text-align: center;
    padding: 8% 0px;

}
header div h1{
font-size: 50px;
padding: 15px;

}
header div button{
    margin: 20% 0px;
    border:none;
    padding:15px 3%;
    border-radius:4px;
    
}
/* Hero ends here */

/* Speakers Section */

.title{
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size:50px;
    font-weight: bolder;
}

.cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:15px;
    width:150%;
     margin: 0px auto;


}
.content-card1{
    margin: 15px;
    background-color: #ffffff;
    border-radius: 20px;
    border-style: solid;
    border-width: 1.4px;
    border-color: #E5E7EB;
}
.content-card1 h6{
    color: #2563EB;
}
.content-card1 img{
    border-radius: 20px 20px 0px 0px;
}
.text{
    padding:15px;
    display: flex;
    flex-direction: column;
    gap: 8px;

}
.p-colour{
    color: #575757;
}
/* Speakers Section Ends */

/* Pricing Section Starts */

.p-price{
    display: flex;
    justify-content: center;
     color: #575757;
     margin-bottom: 30px;
}
.pricing{
   display: grid;
   grid-template-columns:repeat(3, 0fr) ;
    gap:30px;
    justify-content: center;
}
.card{
    border-radius: 10px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #E5E7EB;
    padding: 30px;
    width: 300px;
    height:400px;
  
    
}
#team{
    background-color: #F8F9FB;
    border-color: #E5E7EB;
}

.pricing p{
    display: flex;
    flex-direction: column;
    gap: 5px;
font-size: 10px;
    
}
.dollar{
    font-size:40px;
    font-weight: bolder;
    color: black;
    
}
hr{
   width: 300px;
   margin: 20px 0px;
border:none;
border-top: 2px solid #E5E7EB;

}
.pro-hr{
    border:none;
    border-top: 2px solid rgb(90, 90, 90)
}
.get{
    padding:10px;
    width: 300px;
    border-radius:5px;
    margin-top: 15px;
    height: 50px;
    font-size: small;
    font-weight:bold;
    background-color: #ffffff;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color:#2563EB;
    color: #2563EB;

}
#pro {
background-color:#2563EB;
color: #ffffff;
}
.card li{
    padding:6px;
    list-style: disc;
    list-style-position:inside ;
  font-size: small;

}
.card li::marker{
    color: #2563EB;
}
#pro-card{
    background-color: #0D1B2A;
    color: #dcdcdc;
}
/* sponsors Section Starts */

.sponsors{
    width:90%;
    max-width:1300px;
    margin:100px auto;
    padding:60px 0;

    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:70px;
}

/* Left Side */

.sponsors-left{
    flex:1;
}

.sponsors-left h2{
    font-size:60px;
    line-height:1.1;
    color:#1a1a1a;
    margin-bottom:25px;
}

.sponsors-left p{
    font-size:18px;
    color:#666;
    line-height:1.8;
    margin-bottom:35px;
}

.btn{
    display:inline-block;
    background-color:#2563EB;
    color:#fff;
    text-decoration:none;
    padding:16px 35px;
    border-radius:10px;
    font-size:18px;
    font-weight:bold;
    transition:.3s;
}


/* Right Side */

.sponsors-right{
    flex:1.7;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap: 20px;              
}

.logo-box{
    height:180px;
    background:#fff;
    border-radius: 5px;
    display:flex;
    justify-content:center;
    align-items:center;
    border:1px solid #4b27cb;
    box-shadow:12px 4px 10px rgba(12, 36, 251, 0.08);
}


.logo-box img{
    max-width:150px;
    max-height:80px;
    object-fit:contain;
       
}
/* Sponsors Section Ends */

/* Footer Starts*/
.footer{
    background-color: #0D1B2A;
    padding: 10px;
} 
/* .footer-items{
    display: flex;
    justify-content: center; 
    
} */
.social{
    justify-content: end;
    gap: 10px;
    display: flex;

}
.social a{
    font-size: 25px;
    color: #eeeeee;
}
.hr{
   width: 30%;
 justify-content: center;
   display: flex;
   margin: 20px auto;
border:none;
border-top: 2px solid #c4c4c4;

}
.copyright{
    justify-content: center;
    display: flex;
    color:#575757;
}
/* Footer Ends*/